.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #232526, #414345);
  padding: 15px 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 65px;
  box-sizing: border-box;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 40%;
  background: #333;
  color: white;
}

.notification-btn, .login-btn, .profile-btn {
  background: #ffcc00;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  transition: 0.3s;
}

.notification-btn:hover, .login-btn:hover, .profile-btn:hover {
  background: #ff9900;
}
